pycache
__pycache__
*.pyc
.venv
.venv
venv
.env
.git
.idea
.vscode
.pytest_cache
.tox
.coverage
coverage.xml
htmlcov
build
dist
*.egg-info
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

uploads/
local-KLB-files/
.json
.gz
.tar.gz
metadata/documents.json

*.docx

*.pkl
*.pptx
*.doc
*.pdf
*.xls
*.faiss
*.log
*.db
*.db.zip
user_avatars/


ASF-RAG-enterprise-knowledge-hub/
RAG-M/data/
RAG-M/__pycache__
RAG-M/.venv
RAG-M/.env
RAG-M/.git
RAG-M/.idea
RAG-M/.vscode
RAG-M/.pytest_cache
RAG-M/.tox
RAG-M/.coverage
RAG-M/coverage.xml
RAG-M/htmlcov
RAG-M/build
RAG-M/dist
RAG-M/*.egg-info
RAG-M/.DS_Store
RAG-M/.env.local
RAG-M/.env.development.local
RAG-M/.env.test.local
RAG-M/.env.production.local
RAG-M/npm-debug.log*


chat_documents/

test/
