[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-ollama = "*"
langchain-community = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
langchain-core = "*"
faiss-cpu = "*"
sentence-transformers = "*"
unstructured = "*"
python-multipart = "*"
pypdf = "*"
pandas = "*"
openpyxl = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.11"
